<br>
<br>
<br>

<div class="row">
  <div class="col-md-9 mx-auto">
    <div class="card">
      <div class="card-header">
        <center>
            <h1>Datos de la defuncion</h1>
        </center>
        
      </div>
      <div class="card-body">
        <button class="btn-primary" onclick="buscarMadre()">Buscar Madre por cedula </button>
        <form action="/defunciones/registro" method="POST">
        



        <div class="form-group">
          <input type="text"  name="sem_gest" placeholder="Busque madre por cedula" id="ced"><label >    o por    </label>
              <label >Madre</label>
            <select name="Codmadre" id="Codmadre" >
                <option value="--">--</option> 
  
            </select>
            
             
             
          </div>


          <div class="form-group">
              <label >Sexo</label>
            <select name="sexo">
                <option value="Mujer">Mujer</option> 
                <option value="Hombre" selected>Hombre</option>
            
            </select>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="sem_gest" placeholder="Periodo de gestación" >
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="con_pren" placeholder="Cuantos controles prenatales realizo en este enbarazo" >
          </div>
          <div class="form-group">

            <label for="start">fecha de fallecimiento:</label>
            <input type="date" name="fecha_fall">
          
 
          </div>
            <div class="form-group">

            <label for="start">fecha de Inscripcion:</label>
            <input type="date" name="fecha_insc">
          
 
          </div>
          <div class="form-group">
            
            
            <label >Producto del enbarazo</label>
            <select name="p-emb">
            <option value="Simple">Simple</option> 
            <option value="Doble" >Doble</option>
            <option value="Triple" >Triple</option>
            <option value="Cuádruple ó más" >Cuádruple ó más</option>
            </select>

          </div>
          <div class="form-group">
            

            <label >Asistido por :</label>
            <select name="asis-por">
            <option value="Médico/a">Médico/a</option> 
            <option value="Obstetriz/Obstetra" >Obstetriz/Obstetra</option>
            <option value="Médico Legista" >Médico Legista</option>
            <option value="Partero/a no calilficado/a" >Partero/a no calilficado/a</option>
            <option value="Otro" >Otro</option>
            </select>


            
          </div>
           <div>
            <label >Lugar de ocurrencia :</label>
            <select name="lugar_ocur">
            <option value="Hospital, Clínica o Consultorio Privado">Hospital, Clínica o Consultorio Privado</option> 
            <option value="Establecimiento del Ministerio de Salud" >Establecimiento del Ministerio de Salud</option>
            <option value="Establecimiento de la Junta de Beneficencia" >Establecimiento de la Junta de Beneficencia</option>
            <option value="Establecimiento del IESS" >Establecimiento del IESS</option>
            <option value="Otro Establecimiento Público" >Otro Establecimiento Público</option>
            <option value="Casa" >Casa</option>
            <option value="Otro" >Otro</option>
            
            </select>

          </div>
          <div class="form-group">
            <label >Provincia del fallecimiento</label>
            <select name="prov_fall" onchange="cambia()" id="provFall">
               <option value="--">--</option>
              <option value="Galápagos">Galápagos</option>
              <option value="Zamora Chinchipe">Zamora Chinchipe</option>
              <option value="Morona Santiago">Morona Santiago</option>
              <option value="Azuay">Azuay</option>
              <option value="Napo">Napo</option>
              <option value="Sucumbíos">Sucumbíos</option>
              <option value="Cańar">Cańar</option>
              <option value="Cotopaxi">Cotopaxi</option>
              <option value="Guayas">Guayas</option>
              <option value="Imbabura">Imbabura</option>
              <option value="El Oro">El Oro</option>
              <option value="Bolívar">Bolívar</option>
              <option value="Loja">Loja</option>
              <option value="Pichincha">Pichincha</option>
              <option value="Santa Elena">Santa Elena</option>
              <option value="Orellana">Orellana</option>
              <option value="Chimborazo">Chimborazo</option>
              <option value="Esmeraldas">Esmeraldas</option>
              <option value="Santo Domingo de los Tsáchilas">Santo Domingo de los Tsáchilas</option>
              <option value="Tungurahua">Tungurahua</option>
              <option value="Los Ríos">Los Ríos</option>
              <option value="Pastaza">Pastaza</option>
              <option value="Carchi">Carchi</option>
              <option value="Manabí">Manabí</option>
              

            </select>
            
          </div>
          <div class="form-group">
            <label>Canton del fallecimiento</label>
            <select name="cant_fall" id="cantFall" onchange="cambia2()">
              <option value="--">--</option>
            </select>
          </div>
          <div class="form-group">
            <label>Parroquia del fallecimiento</label>
            <select name="parr_fall" id="parrFall">
             
            </select>
          </div>
          <div class="form-group">
            
            <label >Area del fallecimiento</label>
            <select name="area_fall">
                <option value="Rural">Rural</option> 
                <option value="Urbana" selected>Urbana</option>
            
            </select>

          </div>
          <div class="form-group">
            <label >Causa que ocasiono la defuncion fetal</label>
              <select name="causa_fetal" id="causa_fetal"></select>
            
          </div>
          

          <button class="btn btn-primary btn-block">
            Signup 
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/cargarSelect.js"></script>
<script src = "https://code.jquery.com/jquery-3.4.1.min.js" integridad = "sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo =" crossorigin = "anónimo" > </cript>