  
      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="/img/causa.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Causa</h2>
            <p>Causa que ocasionó la definción fetal. </p>
            <p><a class="btn btn-secondary" href="/defunciones/generarGraficas/Causa" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="/img/lugar.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Lugar</h2>
            <p>Lugar de ocurrencia.</p>
            <p><a class="btn btn-secondary" href="/defunciones/generarGraficas/Lugar" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="/img/area.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Area</h2>
            <p>Area donde sucedio el fallecimiento.</p>
            <p><a class="btn btn-secondary" href="/defunciones/generarGraficas/Area" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


 <hr class="featurette-divider">

                <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="/img/civil.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Estado civil</h2>
            <p>Estado civil o conyugal de la madre.</p>
            <p><a class="btn btn-secondary" href="/defunciones/generarGraficas/civil" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="/img/instrucion.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Instruccion</h2>
            <p>Nivel de instrcion alcanzado por la madre.</p>
            <p><a class="btn btn-secondary" href="/defunciones/generarGraficas/Instruccion" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="/img/etnia.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Etnia</h2>
            <p>Aunto identificacion estnica de la madre.</p>
            <p><a class="btn btn-secondary" href="/defunciones/generarGraficas/Etnia" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->