<section class="container-fluid slider d-flex justify-content-center align-items-center">
    <h1 class="display-4">ACERCA DE NOSOTROS!</h1>
  </section>
  
  <!-- fin imagen principal -->
 

  <!--  card -->
  <section class="container my-5 py-5">
  <h3 class="text-uppercase text-center mb-4">ACERCA DE NOSOTROS</h3>
   <div class="card-deck">
    <div class="card">
      <img class="card-img-top img-fluid" src="/img/MARIO.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Mario Suin</h4>
        <p class="card-text"><strong>Rol:</strong> Scrum Team, Programador</p>
        <p class="card-text"><strong>Categoría profesional:</strong> Estudainte en Ciencias de la Computación </p>
        <p class="card-text"><strong>Responsabilidades:</strong> Codificar la aplicación</p>
        
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="/img/DANIEL.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Daniel Moina</h4>
        <p class="card-text"><strong>Rol:</strong> Scrum Master, Seguimiento y Entregador</p>
        <p class="card-text"><strong>Categoría profesional:</strong> Estudainte en Ciencias de la Computación </p>
        <p class="card-text"><strong>Responsabilidades:</strong> Coordinador del Proyecto y contacto con el cliente</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="/img/YO.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Critopher Molina</h4>
        <p class="card-text"><strong>Rol:</strong> Scrum Team, Tester - Diseñador grafico</p>
        <p class="card-text"><strong>Categoría profesional:</strong> Estudainte en Ciencias de la Computación </p>
        <p class="card-text"><strong>Responsabilidades:</strong> Realizar las interfaces gráficas de la aplicación y realizar
          las pruebas al sistema.
          </p>
        
      </div>
    </div>
  </div>
  </section>
  <!-- fin Cards -->
  <!-- START THE FEATURETTES -->

      <div class="container my-5">
        <hr class="">
        
        <div class="row d-flex align-items-center my-5 py-5">
          <div class="col-md-7">
            <h2 class="display-4">MISIÓN </h2>
            <p class="lead">Automatizar el registro de información de defunciones fetales en el Ecuador aplicado hacia un sistema de información predictivo que gestione la información de las defunciones fetales del INEC (Instituto Nacional de Estadística y Censos) en el Ecuador.</p>
          </div>
          <div class="col-md-5">
            <img class=" img-fluid mx-auto" src="/img/mision-proposito.jpg" alt="Generic placeholder image">
          </div>
        </div>
        
        <hr class="">
        
        <div class="row d-flex align-items-center my-5 py-5">
          <div class="col-md-7 push-md-5">
            <h2 class="display-4">VISIÓN </h2>
            <p class="lead">Satisfacer las necesidades de nuestros usuarios al momento de realizar las diferentes consultas que ofrece nuestro proyecto.</p>
          </div>
          <div class="col-md-5 pull-md-7">
            <img class=" img-fluid mx-auto" src="/img/vision.jpg" alt="Generic placeholder image">
          </div>
        </div>
        
        <hr class="">
        
        <div class="row d-flex align-items-center my-5 py-5">
          <div class="col-md-7">
            <h2 class="display-4">ALCANCE  </h2>
            <p class="lead">El SIPR permitirá una flexibilidad de acceso a la información en el registro de las defunciones igualmente una actualización dinámica de la misma. </p>
          </div>
          <div class="col-md-5">
            <img class=" img-fluid mx-auto" src="/img/alcance.jpg" alt="Generic placeholder image">
          </div>
        </div>
        
        
      </div>

      
