    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">

              <li class="nav-item">
                <a class="nav-link" href="/usuario/login/succes">Menu</a>
              </li>

               <hr class="featurette-divider">

              <li class="nav-item">

                <a class="nav-link active" href="/admin/usersAll">Usuarios</a>
              </li>

               <hr class="featurette-divider">


              <li class="nav-item">
                <a class="nav-link" href="/admin/entidadAll">Entidades</a>
              </li>

               <hr class="featurette-divider">

              <li class="nav-item">
                <a class="nav-link" href="#">Reportes</a>
              </li>

                 <hr class="featurette-divider">

              <li class="nav-item">
                <a class="nav-link" href="/entidad/registro">Agregar Entidades</a>
              </li>

               <hr class="featurette-divider">


              <li class="nav-item">
                <a class="nav-link" href="/defun/graficas">Graficos Estadisticos</a>
              </li>

               <hr class="featurette-divider">

               
              <li class="nav-item">
                <a class="nav-link" href="/admin/allentidad/defunciones">Defunciones</a>
              </li>
         
            </ul>

        
        
          </div>
        </nav>