    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/admin/usersAll">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/entidadAll">Entidades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Reportes</a>
              </li>
        
              <li class="nav-item">
                <a class="nav-link" href="/entidad/registro">Agregar Entidades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Graficos Estadisticos</a>
              </li>
         
            </ul>

        
        
          </div>
        </nav>