   <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="/img/admin.jpg" alt="Generic placeholder image" width="140" height="140" >
            <h2>{{user}}</h2>
            
   
          </div><!-- /.col-lg-4 -->
 <hr class="container marketing">

 <div class="row mb-2y">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Usuarios</strong>
          <h3 class="mb-0">Gestion de usuarios</h3>
          
          <p class="card-text mb-auto">Gestione y administre los usuarios desl sistema.</p>
          <a href="/admin/usersAll" class="stretched-link">Continuar</a>
        </div>
        
        <div class="col-auto d-none d-lg-block">
          <img class="rounded-circle" src="/img/usuarios-menu-admin.jpeg" alt="Generic placeholder image" width="140" height="140">
        
        </div>
         
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Reportes y Predicciones</strong>
          <h3 class="mb-0">Reportes generados</h3>
          
          <p class="mb-auto">Gestione y analice los reportes realizados para la toma de decisionoes.</p>
          <a href="/admin/reportes" class="stretched-link">Continuar</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          
         <img class="rounded-circle" src="/img/reportes-menu-admin.jpg" alt="Generic placeholder image" width="140" height="140">
        </div>
      </div>
          </div>




        <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Entidades</strong>
          <h3 class="mb-0">Gestione las entidades del sistema</h3>
          
          <p class="mb-auto">Gestione las entidades del sistema.</p>
          <a href="/admin/entidadAll" class="stretched-link">Continuar</a>
        </div>
        <div class="col-auto d-none d-lg-block">
         <img class="rounded-circle" src="/img/entidades-all-menus.jpg" alt="Generic placeholder image" width="140" height="140">
        </div>
      </div>
     
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Graficas</strong>
          <h3 class="mb-0"> Genere Graficas</h3>
          
          <p class="mb-auto">Representación gráfica de datos referentes a las defunciones fetales del Ecuador.</p>
          <a href='/defun/graficas' class="stretched-link">Continuar</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          
          <img class="rounded-circle" src="/img/graficas-all-menus.png" alt="Generic placeholder image" width="140" height="140">
        </div>
      </div>
          </div>


                <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">defunciones </strong>
          <h3 class="mb-0">Gestion de defunciones </h3>
          
          <p class="mb-auto">Observe las defunciones registradas por cada entidad.</p>
          <a href='/admin/allentidad/defunciones' class="stretched-link">Continuar</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          
          <img class="rounded-circle" src="/img/defunciones-all-menus.png" alt="Generic placeholder image" width="140" height="140">
        </div>
      </div>
          </div>


           <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Datos</strong>
          <p class="mb-auto">Datos relevantes acerca de las defunciones en Ecuador.</p>
          
          
          <a href="/defun/banco/datos" class="stretched-link">Continuar</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          
          <img class="rounded-circle" src="/img/datos-all-menus.png" alt="Generic placeholder image" width="140" height="140">
        </div>
      </div>
          </div>   

  </div>

