<div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="/img/user.jpg" alt="Generic placeholder image" width="140" height="140" >
            <h2>{{user}}</h2>
            
   
          </div><!-- /.col-lg-4 -->
</div>

<hr class="container marketing">
 <div class="row mb-2y">

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Graficas</strong>
          <h3 class="mb-0"> Genere Graficas</h3>
          
          <p class="mb-auto">Representación gráfica de datos referentes a las defunciones fetales del Ecuador.</p>
          <a href='/defun/graficas' class="stretched-link">Continuar</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Acceder</text></svg>
        </div>
      </div>
          </div>


           <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Banco de datos</strong>
          
          
          <p class="mb-auto">obtenga datos de acuerdo a filtros especificos.</p>
          <a href="#" class="stretched-link">Continuar</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Acceder</text></svg>
        </div>
      </div>
          </div>   

      <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Instituciones afiliadas a la recolecion de datos.</strong>
          
          
          <p class="mb-auto">Mire informacion acerca de las instituciones afiliadas</p>
          <a href="/admin/entidadAll" class="stretched-link">Continuar</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Acceder</text></svg>
        </div>
      </div>
          </div>    

  </div>